/* Inicio da call to action */

.call-to-action {
    background-color: var(--Desaturated-Blue);
    text-align: center;
    color: var(--Light-Grayish-Blue);
    padding: 2.5rem 2.5rem 3rem 2.5rem;
}

.cta-title {
    padding: 1rem 0;
}

.cta-paragraph {
    font-family: var(--Open-Sans);
    font-size: .9rem;
    line-height: 20px;
}

.cta-form-container {
    display: grid;
    gap: .5rem;
    width: 80%;
    margin: 1.5rem auto;
}

.cta-email-input {
    padding: .5rem;
}

.cta-email-input::placeholder {
    color: var(--Light-Gray);
}

.cta-button {
    font-size: .6rem;
    font-family: var(--Raleway);
    font-weight: 700;
    background-color: var(--Bright-Blue);
    color: var(--Light-Grayish-Blue);
    padding: .7rem;
    border-radius: 3px;
    border: none;
    transition: .3s;
}

.cta-button:hover {
    scale: 1.02;
    cursor: pointer;
}

/* Fim da call to action */
