.curved-top {
    margin: 5rem 0 -.25rem 0;
}

.section02 {
    background-color: var(--Bg-curved-top);
    display: grid;
    padding: 1.5rem;
    gap: 1.5rem;
}

.section02-title {
    text-align: center;
    font-size: 1rem;
    margin-top: 3rem;
}

.section02-paragraph {
    font-size: .9rem;
    font-family: var(--Open-Sans);
    color: var(--Desaturated-Blue);
}

.link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    width: fit-content;
    margin: auto;
    color: var(--Moderate-Cyan);
    text-decoration: none;
    border-bottom: 1px solid var(--Moderate-Cyan);
    font-family: var(--Open-Sans);
    font-size: .8rem;
    transition: .3s;
}

.link:hover {
    scale: 1.05;
    cursor: pointer;
}

.icon-arrow {
    width: 17px;
    height: 17px;
}

.section02-testimonial {
    display: grid;
    gap: .8rem;
    margin: 1rem 1.5rem 3.5rem ;
    background-color: var(--White);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--Shadow);
    padding: 1.5rem 1.2rem 1.5rem 1.6rem;
}

.quote-icon {
    width: 13px;
}

.testimonial {
    font-size: .65rem;
    font-family: var(--Open-Sans);
    font-weight: 500;
    line-height: 18px;
}

.profile {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.profile-picture {
    width: 28px;
    border-radius: 50%;
    grid-area: 1 / 1 / 3 / 2;
}

.name {
    font-family: var(--Open-Sans);
    font-size: .6rem;
    letter-spacing: 1px;
    align-self: flex-end;
}

.job-position {
    font-size: .6rem;
    align-self: flex-start;
    
}