:root {
    --Very-Dark-Blue: #070439;
    --Desaturated-Blue: #585989;
    --Bright-Blue: #3065f8;
    --Moderate-Cyan: #3c9f8f;
    --Light-Grayish-Blue: #f6f6fe;
    --Shadow: #cdcdd2af;
    --Bg-curved-top: #F8F8FE;
    --Light-Gray: #bfbfbf;
    --White: #fff;
    --Raleway: 'Raleway', sans-serif;
    --Open-Sans: 'Open Sans', sans-serif;
}